.container-fluid{
    margin-top: 4%;
}

.tital{
    text-align: center;
}

.card-body{
    padding: 10%;
}

.form-group{
    padding-bottom: 8%;
}

.form-control{
    border-radius: 0%;
}

.fnbtn{
    width: 100%;
    border-radius: 0%;
}

.scarch{
    margin-bottom: 4%;
}

.deletebtn{
    margin-left: 4%;
}

.pagination{
 float: right;
}

.table{
    text-align: center;
}